**/.DS_Store
**/.git
**/.gitignore
**/.gitmodules
**/.svn

**/.vs
**/.vscode
**/*.user
**/*.suo
**/*.vscode

**/bin
**/obj
**/publish
**/debug
**/release

**/bower_components
**/jspm_packages

**/packages
**/*.nupkg

**/*.log
**/*.tmp
**/*.temp

**/appsettings.Development.json
**/launchSettings.json

**/README.md
**/LICENSE
**/CHANGELOG.md
**/docs/

**/.fake/
**/paket-files/